html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Marianne', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Marianne";
  src:  url("/fonts/Marianne-Light.woff2") format("woff2"),
        url("/fonts/Marianne-Light_Italic.woff2") format("woff2"),
        url("/fonts/Marianne-Medium_Italic.woff2") format("woff2"),
        url("/fonts/Marianne-Bold_Italic.woff2") format("woff2"),
        url("/fonts/Marianne-Bold.woff2") format("woff2"),
        url("/fonts/Marianne-ExtraBold.woff2") format("woff2"),
        url("/fonts/Marianne-ExtraBold_Italic.woff2") format("woff2"),
}


