html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Marianne', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne-Light.woff");
}

